
<div class="innerContent">
	<div class="fr rightPanel">
		<div class="logo">
			<a href="/"><img src="assets/img/logo.png" alt="Froggo"></a>
		</div>

		<div class="auth">
			<a href="/login"><%=sighInBtn%></a>
		</div>
	</div>
	<div class="leftPanel">
		<span class="dropdown fl" id="dropdown">
			<img src="assets/img/dropdown.png" alt="Menu">
		</span>
		<div class="main_menu" id="main_menu">
			<ul>
				<li><a href="/" id="current">Home</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/how">How does it work?</a></li>
			</ul>
		</div>
	</div>
</div>
