				<div class="main_menu" id="main_menu">
					<ul>
						<li><a href="/" id="current">Home</a></li>
						<li><a href="/">Download</a></li>
						<li><a href="/">How does it work?</a></li>
					</ul>
				</div>