
<div class="menu_area">
  <div class="fl left_menu_db">
    <nav>
      <ul>
        <li><a id="add" href="/dashboard"><i class="fa fa-plus"></i>Add URL</a></li>
        <li><a id="view" href="/dashboard/view"><i class="fa fa-eye"></i>View All</a></li>
        <li><a id="account" href="/dashboard/account"><i class="fa fa-user"></i>Account</a></li>
        <li><a href="/logout" id="logout"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
