<!DOCTYPE html>
<html>
<head>
	<title>404! Error</title>
	<style type="text/css">
		*{
			margin:0px;
			padding: 0px;
		}
		body, html{
			background-color: #dedede;
			text-align: center;
			font-family: cursive;
		}
		.main{
			margin:120px auto;
			width: 90%;
		}
		h1{
			font-size:155px;
			font-weight: bold;
			color:#f01;
			line-height: 180px;
			text-shadow: 4px 3px 15px #333;
			-webkit-text-stroke: 6px #fff;
			-moz-text-stroke: 6px #fff;
			-ms-text-stroke: 6px #fff;
			-o-text-stroke: 6px #fff;
			text-stroke: 6px #fff;
		}
		h2{
			font-size: 28px;
			font-weight: bold;
			color:#444;
		}
		p{
			font-size:14px;
			font-weight: normal;
			color:#666;
			font-family: monospace;
			line-height: 40px;
		}
		a{
			text-decoration: none;
			color:#fff;
			background-color: #345;
			border-radius: 5px;
			padding: 5px 20px;
			display: inline-block;
			font-weight: normal;
			font-family: sans-serif;
		}
	</style>
</head>
<body>
<div class="main">
	<h1>404!</h1>
	<h2>Oops, Sorry We Couldn't Find That Page.</h2>
	<p>You may try a wrong page. Try something else or visit our homepage bellow.</p>
	<a href="/">Homepage</a>
</div>
</body>
</html>